{{!Citation for the following page
Date: 11/2/2022
Adapted From:
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app}}

<!-- index.hbs -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PokeBase</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="nav-bar">
            <a href="/">Home</a>
            <a href="pokemon.hbs">Pokemon</a>
            <a href="trainers.hbs">Trainers</a>
            <a href="types.hbs">Types</a>
            <a href="attacks.hbs">Attacks</a>
            <a href="learned_attacks.hbs">Learned Attacks</a>
          </div>
          <div>
            <h1 class="heading">PokeBase</h1>
          </div>
        <div class="home-para">
            <p>The time has finally arrived.  Pokemon are arriving across the world and Millenials everywhere are very excited. As grown adults and children alike rush out to begin their Pokemon journey they realize they have no way of keeping track of what pokemon they caught, the type of the pokemon, and the attack it knows. There are over 7 billion people in the world and each is capable of catching and training an unlimited amount of Pokemon.  There is great variability between two Pokemon of even the same species so keeping account of who caught what Pokemon and its characteristics is important.  Pokemon is all about catching as many as you can, and then training them up to learn stronger and better attacks.  There are currently 151 different species of Pokemon to keep track of. Each Pokemon species has a specific elemental type, and with that comes effects with other elemental types. 
            <br> 
            <br>
            Our database driven website will allow trainers to create a profile for themself and enter the Pokemon they caught. They will also be allowed to enter the species of Pokemon as well as a nickname they want to give it, the level it is, and what attack it knows. There are many of one species of Pokemon so many trainers may have a Pikachu but each Pikachu is unique.  Our app will give each Pokemon a unique ID number to differentiate between each individual Pokemon.  Our app will also be able to inform Trainers what type a species is, and what they are super effective against, weak against, and what they have no effect on.  Currently there are 15 elemental types. However Pokeologists expect more elemental types to be discovered so our app will have the ability to create, delete, and update elemental types. Furthermore we anticipate that Trainers will want to teach their Pokemon new attacks or maybe even create an attack and train it to their Pokemon. Trainer will also have the ability to create custom attacks, or edit and delete ineffective ones.  Pokemon can learn many attacks, and their trainers' creativity can make it stand out above the others.
            </p>

            {{!-- HomePage Image --}}
            <div class= "pokemon pokemon-big" id="center">
            <img src="./images/pokemon.png" alt="pokemon image">
          </div>

           <footer>
            <p>© 2022 Kodie Artmayer, Mahnoor Mansoor </p>
          </footer>
        <script src="" async defer></script>
    </body>
</html>
